body {
    padding: 0;
    margin: 0;
    z-index: 30;
}

html, body, #map{
    height: 100%;
    width: 100%;
    z-index: 30;
 }


.leaflet-container {
	height: 1000px;
	width: 100%;

}

input, button, select, textarea {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
}

.ember-power-select-trigger {
	border-radius: 0;
	border: 1px solid #ccc;
	background-size: 19px 19px;
	background-position: 3px 14px;
	padding: 8px 2px 8px 26px;
	background-image: url(data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmln…y1%3D%2710.637%27%20x2%3D%2716.789%27%20y2%3D%2714.173%27/%3E%3C/svg%3E%0A);
}

.location-search{
	margin-top: 10px;
	margin-left: 50px;
	width: 250px;
	z-index: 2;
	position: absolute;
	background-size: 19px 19px;
	background-position: 3px 14px;
	padding: 8px 2px 8px 26px;
	/*background-image: url(data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmln…y1%3D%2710.637%27%20x2%3D%2716.789%27%20y2%3D%2714.173%27/%3E%3C/svg%3E%0A);*/
}

.map{
	z-index: 3;
}

.route-style-options{
	margin-top: 10px;
	margin-bottom: 10px;
}

.ember-power-select-trigger{
	border-radius: 0;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.btn-mapzen-alt {
	outline-color: #6ea0a4;
	outline-style: solid;
	outline-width: 2px;
	background-color: #6ea0a4;
	margin: 0;
}

.btn-mapzen-alt-style {
	color: #FFFFFF;
	outline-color: #d4645c;
	outline-style: solid;
	outline-width: 2px;
	background-color: #d4645c;
}

.btn-transparent-alt {
	color: #6ea0a4;
	background-color: white;
	outline-color: #6ea0a4;
	outline-style: solid;
	outline-width: 2px;
	margin-bottom: 10px;
	margin-top: 0;
}

.btn-transparent-alt-style {
	color: #d4645c;
	background-color: white;
	outline-color: #d4645c;
	outline-style: solid;
	outline-width: 2px;
	margin-bottom: 10px;
	margin-top: 0;
}
.btn-group-vertical {
	width: 100%;
}

.expanded-selection{
	outline-color: #6ea0a4;
	outline-style: solid;
	outline-width: 2px;
	padding: 10px;
	margin-bottom: 10px;
	/*background-color: #6ea0a4;*/
}

.hover-detail{
	background-color: #e6ead2;
	padding: 10px;
}

.linebreak-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.isochrone-legend {
  margin-bottom:0;
  margin-top: 0;
}
.isochrone-legend-box {
  margin-left: 25px;
  width: 75%;
  padding: 10px;
  background-color: #f8f8f8;
}