<div class="col-xs-12 col-sm-12 col-md-3">
  <h2>Mobility Explorer</h2>
  <div class="btn-group-vertical" role="group">
    {{#link-to 'routes' (query-params bbox=bbox)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
    {{#link-to 'stops' (query-params bbox=bbox)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
    {{#link-to 'operators' (query-params bbox=bbox)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-9">
  <div id="map">
    {{#leaflet-map bounds=bounds bbox=bbox onMoveend=(action "updatebbox")}}
      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
    {{/leaflet-map}}
  </div>
</div>