<div class="col-xs-12 col-sm-12 col-md-3">
  <h2>Mobility Explorer</h2>
  <div class="btn-group-vertical" role="group">
    {{#link-to 'routes' (query-params bbox=bbox onestop_id=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
    {{#link-to 'stops' (query-params bbox=bbox onestop_id=null)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
    {{#link-to 'operators' (query-params bbox=bbox onestop_id=null)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-9">
  <div id="map">
  <div class="location-search">
    {{#power-select
      search=(action "searchRepo")
      selected=place
      placeholder="Search for location..."
      onchange=(action "setPlace")
      as |repo|
    }}
      {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}

    {{/power-select}}

    <!-- <form class="row">
      <div class="form-group inline-submit col-sm-7 col-xs-12">
        <input type="search" class="col-xs-8 col-sm-9" name="q" placeholder="search for location">
      </div>
    </form> -->
  </div>

    {{#leaflet-map bounds=bounds bbox=bbox onMoveend=(action "updatebbox")}}
      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
    {{/leaflet-map}}
  </div>
</div>