<container-fluid>
  <row>
    <div class="col-xs-12 col-sm-12 col-md-2">
    	{{#side-nav}}{{/side-nav}}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10">

			{{outlet}}
    </div>
	</row>
</container-fluid>