<div class="col-xs-12 col-sm-12 col-md-3">
  <h2>Mobility Explorer</h2>
  <div class="btn-group-vertical" role="group" >
    <button class="btn btn-transparent-alt">Routes</button>
    <button class="btn btn-transparent-alt">Stops</button>
    <button class="btn btn-transparent-alt">Operators</button>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-9">
  <div id="map-placeholder"> 	
  </div>
</div>