<h2>Mobility Explorer</h2>
<h3>{{bBox}}</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="toc" role="directory">
        <ul class="nav toc-nav">
            <li class="toc-top-level">
              {{#link-to 'routes' (query-params bBox=bBox)}}<span>Routes</span>{{/link-to}}
            </li>
         
            <li class="toc-top-level">
              {{#link-to 'stops' (query-params bBox=bBox)}}<span>Stops</span>{{/link-to}}
            </li>

            <li class="toc-top-level">
              {{#link-to 'operators' (query-params bBox=bBox)}}<span>Operators</span>{{/link-to}}
            </li>
        </ul>
      </div>
   		<button class="btn btn-mapzen-alt">Update results</button>
    </div>
  </div>
</div>













