<div class="col-xs-12 col-sm-12 col-md-3">
	{{#link-to 'index' (query-params bbox=bbox)}}<h2>Mobility Explorer</h2>{{/link-to}}

	{{#link-to 'routes' (query-params bbox=bbox)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}

	{{#link-to 'stops' (query-params bbox=bbox)}}<button class="btn btn-mapzen-alt">Stops</button>{{/link-to}}
    <div class="expanded-selection">

		{{#if onestop_id}}
	  	{{#stop-detail bbox=bbox onestop_id=onestop_id stop=selectedStop}}{{/stop-detail}}
	  	<br>
			<p>{{#link-to 'stops' (query-params bbox=bbox onestop_id='null' served_by=onestop_id) }}View stops served by route{{/link-to}}</p>
		{{else}}
			<form>
			  <div class="form-group-header">Style routes by:</div>
			  <div class="form-group">
			  	<input type="checkbox" id="check-1" name="option-one">
			    <label for="check-1">Frequence</label>
			  </div>
			  <div class="form-group">
			  	<input type="checkbox" id="check-2" name="option-two">
			    <label for="check-2">Walkshed</label>
			  </div>
			  <div class="form-group">
			  	<input type="checkbox" id="check-3" name="option-three">
			    <label for="check-2">Travelshed</label>
			  </div>
			</form>
	   
		{{/if}}
		
		
		{{#if hoverStop}}
			{{#unless selectedStop}}
				<div class="hover-detail">
					<div {{action "setOnestopId" selectedStop}}>Stop name: {{hoverStop.name}}</div>
					<p class="caption">Click on the stop for more information</p>
				</div>
			{{/unless}}
		{{/if}}
	
	  {{#if onestop_id}}
	  	{{#stop-detail stop=selectedStop bbox=bbox onestop_id=onestop_id stops=model}}{{/stop-detail}}
			<p>{{#link-to 'routes' (query-params serves=onestop_id) }}View routes serving this stop{{/link-to}}</p>
		{{/if}}
	</div>

  {{#link-to 'operators' (query-params bbox=bbox)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}


</div>
<div class="col-xs-12 col-sm-12 col-md-9">
  <div id="map">
	  {{#leaflet-map bounds=bounds bbox=bbox onLoad=(action "setbbox") onMoveend=(action "updatebbox")}}
			
			{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
			
			{{#each model as |stop|}}
			  		{{#marker-layer location=stop.location icon=stop.stop_icon draggable=false riseOnHover=true riseOffset=1000  onMouseover=(action "selectStop" stop) onMouseout=(action "unselectStop" stop) onClick=(action "setOnestopId" stop)}}
			  		{{/marker-layer}}
		  {{/each}}

		{{/leaflet-map}}
	</div>
</div>










