<div class="isochrone-legend-box">
	<div class="isochrone-legend" style="color:#50bf40;">15 min {{mode}} from stop</div>
	<div class="isochrone-legend" style="color:#9fbf40;">30 min {{mode}} from stop</div>
	<div class="isochrone-legend" style="color:#bf8f40;">45 min {{mode}} from stop</div>
	<div class="isochrone-legend" style="color:#bf4040;">60 min {{mode}} from stop</div>
</div>