<div class="site-intro">
	<p>{{text}}</p>Click <a href="https://mapzen.com/documentation/mobility/explorer/explore-transit" target="_blank">here</a> to learn more...
	<div class="close-textbox" {{action "close"}}>
		<i class="fa fa-times-circle" aria-hidden="true"></i> close
	 </div>
</div>
