<div class="site-intro">
  <p><strong>October 2020</strong>: Try the <a href="https://www.transit.land/map/">new global transit map on the Transitland v2 website</a>. The Transitland v1 Datastore API, which powers Mobility Explorer, is now deprecated. It will be supported for the time being, but we encourage all users and developers to learn more about the Transitland v2 website and APIs.</p>
  <p>{{text}}</p>
  <p>Mobility Explorer makes use of <a href="https://transit.land">Transitland</a> public-transit data, <a href="https://www.geocode.earth/">geocode.earth</a> search, and <a href="https://www.nextzen.org">Nextzen</a> map tiles.</p>
  <p>Click <a href="https://github.com/transitland/mobility-explorer/blob/master/docs/overview.md" target="_blank">here</a> to learn more&hellip;</p>
  <div class="close-textbox" {{action "close"}}>
    <i class="fa fa-times-circle" aria-hidden="true"></i> close
  </div>
</div>