<h4 class="subheading-row">
  <div class="subheading col-md-10">Visualize public transit networks</div>
  <div tooltip='Find operators of public transit. Follow their bus, train, subway and gondola route lines. Map stop locations. Powered by the Transitland Datastore API.'
    class="col-md-2">
    <a href="https://transit.land/documentation">
      <div class="fa fa-question-circle"></div>
    </a>
  </div>
</h4>