<h4 class="subheading-row">
  <div class="subheading col-md-10">Visualize public transit networks&nbsp;<p class="fa fa-question-circle"></p></div>
  {{#popover-on-element class="tooltip-on-sidebar" hideOn='mouseleave'}}Find operators of public transit. Follow their bus, train, subway and gondola route lines. Map stop locations. Powered by the <a href="https://transit.land/documentation">Transitland Datastore API.</a>{{/popover-on-element}}
</h4>