<h4 class="subheading-row">
  <div class="subheading col-md-10">Visualize public transit <nobr>networks&nbsp;<i class="fa fa-question-circle"></i></nobr></div>
  {{#popover-on-element event="click" class="tooltip-on-sidebar"}}Find operators of public transit. Follow their bus, train, subway and gondola route lines. Map stop locations. Powered by the <a href="https://transit.land/documentation">Transitland Datastore API.</a>{{/popover-on-element}}
</h4>